<div #loadingModal class="loading-modal">
  <img src="/assets/rolling.svg" />
</div>

<div class="little-container">
  <h1>Qwerty Runes</h1>
  <h2>Entre com sua conta ou cadastre-se, é bem rapido!</h2>
  <div class="inputs-container">
    <input [(ngModel)]="nickname" class="account-input" type="text" placeholder="Nickname" />
    <input [(ngModel)]="password" class="account-input" type="password" placeholder="Senha" />
    <div class="remember-me-container">
      <input #rememberCheckbox id="remember-me" type="checkbox" />
      <label title="Ao entrar com esta opção desmarcada, sua sessão irá expirar em 2 horas" 
        for="remember-me">Lembrar da conta por mais tempo</label>
    </div>
  </div>
  <div class="bottom-container">
    <a routerLink="registration">Cadastrar conta</a>
    <button (click)="onLogin()">Entrar</button>
  </div>
</div>