@import "/src/app/core/variables.less";

:host {
  padding: 2px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 0px 8px;
  height: 60px;
  gap: 10px;

  background-color: #e8e8e8;
  border-radius: 2px;
  color: @dark;

  &.answeredCorrectly {
    background-color: #fff;
  }

  &.ready {
    outline: 2px solid #4fe344;
  }

  &.notReady {
    outline: 2px solid #ff4949;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
}

.score, .nickname {
  font-family: @varela;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  height: 80%;
  align-self: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 2px;
  background-color: @primary;
  color: @light;
}

.nickname {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
}

.last-guess {
  overflow: hidden;
  text-overflow: ellipsis;
  color: lighten(#000, 40%); 
  white-space: nowrap;
  font-size: 0.9rem;
}