@import "/src/app/core/variables.less";

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 5px;
  margin: 20px 0;

  label {
    color: @light;
    text-align: justify;
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
}